/**
  CSS Utilities
*/

$position-horizontal: (left, center, right);
$position-vertical: (top, center, bottom);

// text align
@each $pos in $position-horizontal {
  .text-#{$pos} {
    text-align: #{$pos};
  }
}

// float
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.no-float {
  float: none;
  clear: both;
}

// flex
.flex {
  display: flex;
}

// flex align
.f-align-start {
  align-items: flex-start;
}
.f-align-end {
  align-items: flex-end;
}
.f-align-center {
  align-items: center;
}
.f-align-stretch {
  align-items: stretch;
}

// flex justify
.f-justify-start {
  justify-content: flex-start;
}
.f-justify-end {
  justify-content: flex-end;
}
.f-justify-center {
  justify-content: center;
}
.f-justify-space-around {
  justify-content: space-around;
}
.f-justify-space-evenly {
  justify-content: space-evenly;
}
.f-justify-space-between {
  justify-content: space-between;
}

// margin
.no-margin {
  margin: 0;
}

// padding
.no-padding {
  padding: 0;
}

// show/hide
.hidden {
  display: none;
}

// Material Icons helper
.material-icons {
  line-height: inherit !important;
}

.full-width {
  width: 100%;
}
