////////////////////
// CSS Variables
////////////////////
:root {
  /* Animation speed */
  --fast: 0.2s;
  --slow: 0.5s;

  /* Themes/ Colors */
  --color-primary: #286dc1;
  --color-primary-contrast: #fff;

  --color-secondary: #14406f;
  --color-secondary-contrast: #f6f6f7;

  --color-success: #0cb74f;
  --color-success-contrast: #fff;

  --color-warning: #ffce00;
  --color-warning-contrast: #fff;

  --color-danger: #da1f28;
  --color-danger-contrast: #fff;

  --color-info: #17a2b8;
  --color-info-contrast: #fff;

  --color-light: #fefefe;
  --color-light-contrast: #333;

  --color-grey: #ccc;
  --color-grey-contrast: #333;

  --color-dark: #333;
  --color-dark-contrast: #fff;
}
