wu-container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  &[fluid] {
    width: 100%;
    max-width: none;
  }
  padding: 0 2%;
  @include media(sm) {
    // tablet
    max-width: 750px;
  }
  @include media(md) {
    // desktop
    max-width: 970px;
  }
  @include media(lg) {
    max-width: 1170px;
  }
}
