wu-drawer-menu {
  &.open {   
    &[position='left'] ,
    &[position='right'] {
      .side-menu {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    .side-menu-overlay{  
      opacity: 1;
      z-index: 9;
    } 
  }
  .side-menu {
    @include themeable('drawer-menu');
    @include raised(4);
    position: fixed;
    z-index: 9999;
    width: 300px;
    height: 100vh;
    opacity: 0;
    background: white;
    color: currentColor;
    transition: transform var(--fast), opacity var(--fast);
    // default position
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    wu-menu-header{
      display: block;
      height: 54px;
      width: 100%;
      border-bottom: 2px solid #ccc;
    }
  }
  &[position='left'] {
    .side-menu {
      right: auto;
    }
  }
  &[position='right'] {
    .side-menu {
      left: auto;
      right: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  .side-menu-overlay {
    background: var(--wu-drawer-menu-overlay-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: opacity var(--fast);
  }
}
