// @import '../../global/_variables.scss';
@import '../../sass/_mixins.scss';
wu-drawer-menu{
  transform: translate3d(-100%, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: transform var(--fast);
  width: 300px;
  height: 100vh;
  background: var(--menu-bg-color);
  &.open{
    transform: translate3d(0,0,0)
  }
}