wu-button {
  @include raised(1);
  @include themeable('button');
  background: white;
  color: currentColor;
  &[outline]{
    border: 1px solid currentColor;
  }
  max-width: 100%;
  display: inline-block;
  margin: 5px;
  transition: box-shadow var(--fast) ease-out, filter var(--fast) ease-in;
  width: auto;
  height: auto;
  &:hover,
  &:focus {
    @include raisedHover();
    filter: brightness(105%);
  }
  button,
  a {
    cursor: pointer;
    height: 100%;
    padding: var(--button-padding-y) var(--button-padding-x);
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    border: none;
    display: block;
    background: transparent;
    color: currentColor;
    text-align: center;
  }

  &[block] {
    display: block;
    button,a{
      width: 100%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &[flat] {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
  
  // Shapes
  &[shape="circle"] {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    a,button{
      padding: 0;
      width: 100%;
      height: 3em;
      line-height: 3em;
      font-size: 1em;
      text-align: center;
      white-space: nowrap;
    }
  }
}
