@import '../../sass/_mixins.scss';

wu-button {
  @include raised(1);
  min-width: 60px;
  max-width: 100%;
  padding: var(--button-padding);
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--button-theme);
  color: white;
  margin: 0 5px;
  text-align: center;
  transition: box-shadow 0.3s ease-out, filter 0.3s ease-in;
  &:hover,
  &:focus {
    @include raisedHover();
    filter: brightness(110%);
  }
  &[type='outline'] {
    border: 1px solid var(--button-theme);
    background: white;
    color: var(--button-theme);
    &:hover {
      filter: brightness(95%);
    }
  }
  &[type='block'] {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  &[flat] {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
  &[secondary] {
    background: #ccc;
    color: #333;
    &[type='outline'] {
      border-color: #ccc;
      background: white;
      color: #333;
    }
  }
  &[circle] {
    border-radius: 50%;
  }
}
