/**
 * @prop --wu-card-radius-top-left: Corner radius
 * @prop --wu-card-radius-top-right: Corner radius
 * @prop --wu-card-radius-bottom-left: Corner radius
 * @prop --wu-card-radius-bottom-right: Corner radius
 * @prop --wu-card-outer-padding: Outer padding for the card
 * @prop --wu-card-inner-padding: Padding inside card between sections
 */
:root {
  --wu-card-radius-top-left: 0.25em;
  --wu-card-radius-top-right: 0.25em;
  --wu-card-radius-bottom-left: 0.25em;
  --wu-card-radius-bottom-right: 0.25em;
  --wu-card-outer-padding: 20px;
  --wu-card-inner-padding: 10px;
}
