wu-card {
  display: block;
  @include themeable('');
  @include raised(1);
  border-top-left-radius: var(--wu-card-radius-top-left);
  border-top-right-radius: var(--wu-card-radius-top-right);
  border-bottom-left-radius: var(--wu-card-radius-bottom-left);
  border-bottom-right-radius: var(--wu-card-radius-bottom-right);
  overflow: hidden;
  &.flat {
    box-shadow: none;
    border: 1px solid #efefef;
  }
  &.hoverable {
    &:hover,
    &:focus {
      @include raisedHover();
    }
  }

  .title-row {
    padding: var(--wu-card-outer-padding);
    padding-bottom: var(--wu-card-inner-padding);
    &.media-above {
      padding-top: var(--wu-card-inner-padding);
    }
  }

  .card-media {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .card-body {
    padding: var(--wu-card-inner-padding) var(--wu-card-outer-padding);
  }
  .card-title {
    font-size: 22px;
    font-weight: 500;
    // border-bottom: 1px solid #efefef;
    display: block;
  }

  .card-subtitle {
    font-size: 16px;
    color: var(--color-grey);
  }

  .card-spacer {
    display: block;
    margin-bottom: var(--wu-card-inner-padding);
  }

  .card-footer {
    // margin-top: var(--wu-card-outer-padding);
    padding: var(--wu-card-outer-padding);
    padding-top: var(--wu-card-inner-padding);
    display: flex;
    max-width: 100%;
    align-items: center;

    .footer-left {
      flex-basis: 70%;
      overflow: visible;
      white-space: nowrap;

      a,
      button {
        padding: 0;
        border: none;
        border-radius: 0;
        background: transparent;
        color: currentColor;
        transition: border-color var(--fast);
        font-size: 16px;
        cursor: pointer;
        margin-right: 5px;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        box-shadow: none;
        padding: 5px;
        &:hover,
        &:focus {
          text-decoration: none;
          outline: none;
          border-bottom-color: currentColor;
        }
      }
    }

    .footer-right {
      flex-basis: 30%;
      text-align: right;
      // wu-button {
      //   button,
      //   a {
      //     border: none;
      //     display: inline-block;
      //     &:hover,
      //     &:focus {
      //       background: var(--color-grey) !important;
      //     }
      //   }
      // }
    }
  }
}
