wu-card {
  display: block;
  @include themeable('');
  @include raised(1);
  font-size: 16px;
  border-radius: var(--wu-card-radius);
  overflow: hidden;
  &[flat] {
    box-shadow: none;
    border: 1px solid #efefef;
  }
  .card-media {
    width: 100%;
    object-fit: cover;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 22px;
    border-bottom: 1px solid #efefef;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  &[hover] {
    &:hover,
    &:focus {
      @include raisedHover();
    }
  }

  .card-footer {
    border-top: 1px solid #efefef;
    margin-top: 10px;
    padding-top: 10px;
    .action {
      border: none;
      background: white;
      color: currentColor;
      border-bottom: 1px solid currentColor;
      transition: border-color var(--fast);
      font-size: 16px;
      cursor: pointer;
      padding: 3px 0;
      margin-right: 5px;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
        border-bottom-color: transparent;
      }
    }
  }
}
