wu-row {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  &[no-margin] {
    margin-bottom: 0;
  }

  &[fill-height] {
    height: 100%;
  }

  &[v-center] {
    align-items: center;
  }

  &[auto-mobile] {
    @media screen and (max-width: 768px) {
      justify-content: space-between;
      flex-direction: column;
      align-items: stretch;
    }
  }
}
