wu-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  align-items: stretch;
  flex-wrap: wrap;
  &[no-margin]{
    margin-bottom: 0
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;   
    &[v-center]{
      align-items: center;
    }
  }
}
