wu-drop-menu {
  position: relative;
  display: block;
  .menu-trigger {
    color: currentColor;
    text-align: center;
    width: var(--wu-drop-menu-trigger-size);
    height: var(--wu-drop-menu-trigger-size);
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .menu-content {
    position: absolute;
    display: none;
    top: var(--wu-drop-menu-trigger-size);
    right: calc(var(--wu-drop-menu-trigger-size) / 3);
    @include raised(1);
    background: white;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    max-width: 300px;
    a,
    button {
      display: block;
      width: 100%;
      text-align: left;
      white-space: nowrap;
      padding: 1em 2em;
      text-decoration: none;
      color: #333;
      background: white;
      border: none;
      font-size: 1rem;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover,
      &:focus {
        background: #efefef;
      }
      i {
        margin-right: 10px;
        vertical-align: middle;
        line-height: 1em;
      }
    }

    wu-divider {
      --wu-divider-spacing: 10px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
    &.open {
      display: block;
    }
  }
}
