@import '../../global/mixins';
@import '../../global/variables';
wu-accordion {
  display: block;
  clear: both;
  @include raised(1);
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    display: block;
    padding: 0 20px;
    transition: max-height $fast, padding $fast;
  }

  wu-accordion-header > div {
    display: block;
    position: relative;
    @include raised(1);
    background: #333;
    color: white;
    padding: 12px;
    padding-left: 44px;
    font-size: 14px;
    cursor: pointer;
    clear: both;
    border-radius: 2px;
    &:hover,
    &:focus {
      @include raisedHover();
    }
    svg.arrow {
      stroke: white;
      fill: white;
      background-size: cover;
      width: 20px;
      height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      top: 50%;
      left: 15px;
      margin-top: -10px;
      font-size: 20px;
      transform-origin: center;
      transition: transform $fast;
    }
  }

  &.open {
    wu-accordion-header > div {
      svg.arrow {
        transform: rotate(90deg);
      }
    }
    .accordion-content {
      max-height: 400px;
      padding: 10px 20px;
    }
  }
}
