wu-img {
  display: inherit;

  img.main {
    width: 100%;
    filter: blur(5px);
    transition: filter var(--slow);
    &.loaded {
      filter: none;
    }
  }

  img.loader {
    opacity: 0;
    height: 0px;
  }
}
