wu-img {
  display: inherit;

  img.main {
    width: 100%;
    filter: blur(10px);
    transition: filter 0.5s;
    &.loaded {
      filter: none;
    }
  }

  img.loader {
    opacity: 0;
    height: 0px;
  }
}
